Client/L2.Proxy/Mietmaschienenservice_Dienstproxy/Service References/Client.L2.Proxy.ClientProxy/WcfNinjectBaumaschinenmietService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.Baumaschinenmietservice.de/Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.Baumaschinenmietservice.de/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.Baumaschinenmietservice.de/Services/Imports">
      <xsd:import schemaLocation="http://localhost:10352/WcfNinjectBaumaschinenmietService.svc?xsd=xsd0" namespace="http://www.Baumaschinenmietservice.de/Services" />
      <xsd:import schemaLocation="http://localhost:10352/WcfNinjectBaumaschinenmietService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10352/WcfNinjectBaumaschinenmietService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Crosscutting.MietmaterialdatenbankKlassen" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCallAnfrage">
    <wsdl:part name="parameters" element="tns:GetCallAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetCallAntwort">
    <wsdl:part name="parameters" element="tns:GetCallAntwort" />
  </wsdl:message>
  <wsdl:message name="GetKundeByIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetKundeByIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetKundeByIdAntwort">
    <wsdl:part name="parameters" element="tns:GetKundeByIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllKundenAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllKundenAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllKundenAntwort">
    <wsdl:part name="parameters" element="tns:GetAllKundenAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandByIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandByIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandByIdAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandByIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllLagerbestandlistenAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllLagerbestandlistenAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllLagerbestandlistenAntwort">
    <wsdl:part name="parameters" element="tns:GetAllLagerbestandlistenAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandByMaschinenartenIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandByMaschinenartenIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandByMaschinenartenIdAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandByMaschinenartenIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandVorhandenAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandVorhandenAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandVorhandenAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandVorhandenAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandLeerAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandLeerAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandLeerAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandLeerAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandNichtsVermietetAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandNichtsVermietetAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandNichtsVermietetAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandNichtsVermietetAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandVermietetAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandVermietetAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandVermietetAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandVermietetAntwort" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandNichtImPoolAnfrage">
    <wsdl:part name="parameters" element="tns:GetLagerbestandNichtImPoolAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetLagerbestandNichtImPoolAntwort">
    <wsdl:part name="parameters" element="tns:GetLagerbestandNichtImPoolAntwort" />
  </wsdl:message>
  <wsdl:message name="GetMaschinenarteByIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetMaschinenarteByIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetMaschinenarteByIdAntwort">
    <wsdl:part name="parameters" element="tns:GetMaschinenarteByIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenIstRentabelAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenIstRentabelAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenIstRentabelAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenIstRentabelAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenIstUnrentabelAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenIstUnrentabelAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenartenIstUnrentabelAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenartenIstUnrentabelAntwort" />
  </wsdl:message>
  <wsdl:message name="GetMaschinenkaufByIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetMaschinenkaufByIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetMaschinenkaufByIdAntwort">
    <wsdl:part name="parameters" element="tns:GetMaschinenkaufByIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeByMaschinenartAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeByMaschinenartAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeByMaschinenartAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeByMaschinenartAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeByDateAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeByDateAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeByDateAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeByDateAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeInZeitraumAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeInZeitraumAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllMaschinenkaufeInZeitraumAntwort">
    <wsdl:part name="parameters" element="tns:GetAllMaschinenkaufeInZeitraumAntwort" />
  </wsdl:message>
  <wsdl:message name="GetVermietungByIdAnfrage">
    <wsdl:part name="parameters" element="tns:GetVermietungByIdAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetVermietungByIdAntwort">
    <wsdl:part name="parameters" element="tns:GetVermietungByIdAntwort" />
  </wsdl:message>
  <wsdl:message name="GetAllVermietungenAnfrage">
    <wsdl:part name="parameters" element="tns:GetAllVermietungenAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetAllVermietungenAntwort">
    <wsdl:part name="parameters" element="tns:GetAllVermietungenAntwort" />
  </wsdl:message>
  <wsdl:message name="GetVermietungenInZeitraumAnfrage">
    <wsdl:part name="parameters" element="tns:GetVermietungenInZeitraumAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetVermietungenInZeitraumAntwort">
    <wsdl:part name="parameters" element="tns:GetVermietungenInZeitraumAntwort" />
  </wsdl:message>
  <wsdl:message name="GetVermietungenAnKundeAnfrage">
    <wsdl:part name="parameters" element="tns:GetVermietungenAnKundeAnfrage" />
  </wsdl:message>
  <wsdl:message name="GetVermietungenAnKundeAntwort">
    <wsdl:part name="parameters" element="tns:GetVermietungenAnKundeAntwort" />
  </wsdl:message>
  <wsdl:message name="NuerKundeAnfrage">
    <wsdl:part name="parameters" element="tns:NuerKundeAnfrage" />
  </wsdl:message>
  <wsdl:message name="NuerKundeAntwort">
    <wsdl:part name="parameters" element="tns:NuerKundeAntwort" />
  </wsdl:message>
  <wsdl:message name="NuerLagerplatzAnfrage">
    <wsdl:part name="parameters" element="tns:NuerLagerplatzAnfrage" />
  </wsdl:message>
  <wsdl:message name="NuerLagerplatzAntwort">
    <wsdl:part name="parameters" element="tns:NuerLagerplatzAntwort" />
  </wsdl:message>
  <wsdl:message name="NeueMaschinenartAnfrage">
    <wsdl:part name="parameters" element="tns:NeueMaschinenartAnfrage" />
  </wsdl:message>
  <wsdl:message name="NeueMaschinenartAntwort">
    <wsdl:part name="parameters" element="tns:NeueMaschinenartAntwort" />
  </wsdl:message>
  <wsdl:message name="NeuMaschinenkaufAnfrage">
    <wsdl:part name="parameters" element="tns:NeuMaschinenkaufAnfrage" />
  </wsdl:message>
  <wsdl:message name="NeuMaschinenkaufAntwort">
    <wsdl:part name="parameters" element="tns:NeuMaschinenkaufAntwort" />
  </wsdl:message>
  <wsdl:message name="NeueVermietungAnKundenAnfrage">
    <wsdl:part name="parameters" element="tns:NeueVermietungAnKundenAnfrage" />
  </wsdl:message>
  <wsdl:message name="NeueVermietungAnKundenAntwort">
    <wsdl:part name="parameters" element="tns:NeueVermietungAnKundenAntwort" />
  </wsdl:message>
  <wsdl:message name="MaterialAnVermietungAnfügenAnfrage">
    <wsdl:part name="parameters" element="tns:MaterialAnVermietungAnfügenAnfrage" />
  </wsdl:message>
  <wsdl:message name="MaterialAnVermietungAnfügenAntwort">
    <wsdl:part name="parameters" element="tns:MaterialAnVermietungAnfügenAntwort" />
  </wsdl:message>
  <wsdl:message name="SaveKundenSetAnfrage">
    <wsdl:part name="parameters" element="tns:SaveKundenSetAnfrage" />
  </wsdl:message>
  <wsdl:message name="SaveKundenSetAntwort">
    <wsdl:part name="parameters" element="tns:SaveKundenSetAntwort" />
  </wsdl:message>
  <wsdl:message name="SaveLagerSetAnfrage">
    <wsdl:part name="parameters" element="tns:SaveLagerSetAnfrage" />
  </wsdl:message>
  <wsdl:message name="SaveLagerSetAntwort">
    <wsdl:part name="parameters" element="tns:SaveLagerSetAntwort" />
  </wsdl:message>
  <wsdl:message name="SaveMaschinenartSetAnfrage">
    <wsdl:part name="parameters" element="tns:SaveMaschinenartSetAnfrage" />
  </wsdl:message>
  <wsdl:message name="SaveMaschinenartSetAntwort">
    <wsdl:part name="parameters" element="tns:SaveMaschinenartSetAntwort" />
  </wsdl:message>
  <wsdl:message name="SaveMaschinenkaufeAnfrage">
    <wsdl:part name="parameters" element="tns:SaveMaschinenkaufeAnfrage" />
  </wsdl:message>
  <wsdl:message name="SaveMaschinenkaufeAntwort">
    <wsdl:part name="parameters" element="tns:SaveMaschinenkaufeAntwort" />
  </wsdl:message>
  <wsdl:message name="SaveVermitungenSetAnfrage">
    <wsdl:part name="parameters" element="tns:SaveVermitungenSetAnfrage" />
  </wsdl:message>
  <wsdl:message name="SaveVermitungenSetAntwort">
    <wsdl:part name="parameters" element="tns:SaveVermitungenSetAntwort" />
  </wsdl:message>
  <wsdl:portType name="IMietservice">
    <wsdl:operation name="Call">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/Call" name="GetCallAnfrage" message="tns:GetCallAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/CallResponse" name="GetCallAntwort" message="tns:GetCallAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetKundeById">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetKundeById" name="GetKundeByIdAnfrage" message="tns:GetKundeByIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetKundeByIdResponse" name="GetKundeByIdAntwort" message="tns:GetKundeByIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKunden">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllKunden" name="GetAllKundenAnfrage" message="tns:GetAllKundenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllKundenResponse" name="GetAllKundenAntwort" message="tns:GetAllKundenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandById">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandById" name="GetLagerbestandByIdAnfrage" message="tns:GetLagerbestandByIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandByIdResponse" name="GetLagerbestandByIdAntwort" message="tns:GetLagerbestandByIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLagerbestandlisten">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllLagerbestandlisten" name="GetAllLagerbestandlistenAnfrage" message="tns:GetAllLagerbestandlistenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllLagerbestandlistenResponse" name="GetAllLagerbestandlistenAntwort" message="tns:GetAllLagerbestandlistenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandByMaschinenartenId">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandByMaschinenartenId" name="GetLagerbestandByMaschinenartenIdAnfrage" message="tns:GetLagerbestandByMaschinenartenIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandByMaschinenartenIdResponse" name="GetLagerbestandByMaschinenartenIdAntwort" message="tns:GetLagerbestandByMaschinenartenIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandVorhanden">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandVorhanden" name="GetLagerbestandVorhandenAnfrage" message="tns:GetLagerbestandVorhandenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandVorhandenResponse" name="GetLagerbestandVorhandenAntwort" message="tns:GetLagerbestandVorhandenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandLeer">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandLeer" name="GetLagerbestandLeerAnfrage" message="tns:GetLagerbestandLeerAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandLeerResponse" name="GetLagerbestandLeerAntwort" message="tns:GetLagerbestandLeerAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandNichtsVermietet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandNichtsVermietet" name="GetLagerbestandNichtsVermietetAnfrage" message="tns:GetLagerbestandNichtsVermietetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandNichtsVermietetResponse" name="GetLagerbestandNichtsVermietetAntwort" message="tns:GetLagerbestandNichtsVermietetAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandVermietet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandVermietet" name="GetLagerbestandVermietetAnfrage" message="tns:GetLagerbestandVermietetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandVermietetResponse" name="GetLagerbestandVermietetAntwort" message="tns:GetLagerbestandVermietetAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetLagerbestandNichtImPool">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandNichtImPool" name="GetLagerbestandNichtImPoolAnfrage" message="tns:GetLagerbestandNichtImPoolAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetLagerbestandNichtImPoolResponse" name="GetLagerbestandNichtImPoolAntwort" message="tns:GetLagerbestandNichtImPoolAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetMaschinenarteById">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetMaschinenarteById" name="GetMaschinenarteByIdAnfrage" message="tns:GetMaschinenarteByIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetMaschinenarteByIdResponse" name="GetMaschinenarteByIdAntwort" message="tns:GetMaschinenarteByIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenarten">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenarten" name="GetAllMaschinenartenAnfrage" message="tns:GetAllMaschinenartenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenartenResponse" name="GetAllMaschinenartenAntwort" message="tns:GetAllMaschinenartenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenartenIstRentabel">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenartenIstRentabel" name="GetAllMaschinenartenIstRentabelAnfrage" message="tns:GetAllMaschinenartenIstRentabelAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenartenIstRentabelResponse" name="GetAllMaschinenartenIstRentabelAntwort" message="tns:GetAllMaschinenartenIstRentabelAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenartenIstUnrentabel">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenartenIstUnrentabel" name="GetAllMaschinenartenIstUnrentabelAnfrage" message="tns:GetAllMaschinenartenIstUnrentabelAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenartenIstUnrentabelResponse" name="GetAllMaschinenartenIstUnrentabelAntwort" message="tns:GetAllMaschinenartenIstUnrentabelAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetMaschinenkaufById">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetMaschinenkaufById" name="GetMaschinenkaufByIdAnfrage" message="tns:GetMaschinenkaufByIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetMaschinenkaufByIdResponse" name="GetMaschinenkaufByIdAntwort" message="tns:GetMaschinenkaufByIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenkaufe">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufe" name="GetAllMaschinenkaufeAnfrage" message="tns:GetAllMaschinenkaufeAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeResponse" name="GetAllMaschinenkaufeAntwort" message="tns:GetAllMaschinenkaufeAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenkaufeByMaschinenart">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeByMaschinenart" name="GetAllMaschinenkaufeByMaschinenartAnfrage" message="tns:GetAllMaschinenkaufeByMaschinenartAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeByMaschinenartResponse" name="GetAllMaschinenkaufeByMaschinenartAntwort" message="tns:GetAllMaschinenkaufeByMaschinenartAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenkaufeByDate">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeByDate" name="GetAllMaschinenkaufeByDateAnfrage" message="tns:GetAllMaschinenkaufeByDateAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeByDateResponse" name="GetAllMaschinenkaufeByDateAntwort" message="tns:GetAllMaschinenkaufeByDateAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaschinenkaufeInZeitraum">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeInZeitraum" name="GetAllMaschinenkaufeInZeitraumAnfrage" message="tns:GetAllMaschinenkaufeInZeitraumAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllMaschinenkaufeInZeitraumResponse" name="GetAllMaschinenkaufeInZeitraumAntwort" message="tns:GetAllMaschinenkaufeInZeitraumAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetVermietungById">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungById" name="GetVermietungByIdAnfrage" message="tns:GetVermietungByIdAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungByIdResponse" name="GetVermietungByIdAntwort" message="tns:GetVermietungByIdAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVermietungen">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllVermietungen" name="GetAllVermietungenAnfrage" message="tns:GetAllVermietungenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetAllVermietungenResponse" name="GetAllVermietungenAntwort" message="tns:GetAllVermietungenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetVermietungenInZeitraum">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungenInZeitraum" name="GetVermietungenInZeitraumAnfrage" message="tns:GetVermietungenInZeitraumAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungenInZeitraumResponse" name="GetVermietungenInZeitraumAntwort" message="tns:GetVermietungenInZeitraumAntwort" />
    </wsdl:operation>
    <wsdl:operation name="GetVermietungenAnKunde">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungenAnKunde" name="GetVermietungenAnKundeAnfrage" message="tns:GetVermietungenAnKundeAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/GetVermietungenAnKundeResponse" name="GetVermietungenAnKundeAntwort" message="tns:GetVermietungenAnKundeAntwort" />
    </wsdl:operation>
    <wsdl:operation name="NuerKunde">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NuerKunde" name="NuerKundeAnfrage" message="tns:NuerKundeAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NuerKundeResponse" name="NuerKundeAntwort" message="tns:NuerKundeAntwort" />
    </wsdl:operation>
    <wsdl:operation name="NuerLagerplatz">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NuerLagerplatz" name="NuerLagerplatzAnfrage" message="tns:NuerLagerplatzAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NuerLagerplatzResponse" name="NuerLagerplatzAntwort" message="tns:NuerLagerplatzAntwort" />
    </wsdl:operation>
    <wsdl:operation name="NeueMaschinenart">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeueMaschinenart" name="NeueMaschinenartAnfrage" message="tns:NeueMaschinenartAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeueMaschinenartResponse" name="NeueMaschinenartAntwort" message="tns:NeueMaschinenartAntwort" />
    </wsdl:operation>
    <wsdl:operation name="NeuMaschinenkauf">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeuMaschinenkauf" name="NeuMaschinenkaufAnfrage" message="tns:NeuMaschinenkaufAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeuMaschinenkaufResponse" name="NeuMaschinenkaufAntwort" message="tns:NeuMaschinenkaufAntwort" />
    </wsdl:operation>
    <wsdl:operation name="NeueVermietungAnKunden">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeueVermietungAnKunden" name="NeueVermietungAnKundenAnfrage" message="tns:NeueVermietungAnKundenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/NeueVermietungAnKundenResponse" name="NeueVermietungAnKundenAntwort" message="tns:NeueVermietungAnKundenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="MaterialAnVermietungAnfügen">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/MaterialAnVermietungAnfügen" name="MaterialAnVermietungAnfügenAnfrage" message="tns:MaterialAnVermietungAnfügenAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/MaterialAnVermietungAnfügenResponse" name="MaterialAnVermietungAnfügenAntwort" message="tns:MaterialAnVermietungAnfügenAntwort" />
    </wsdl:operation>
    <wsdl:operation name="SaveKundenSet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveKundenSet" name="SaveKundenSetAnfrage" message="tns:SaveKundenSetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveKundenSetResponse" name="SaveKundenSetAntwort" message="tns:SaveKundenSetAntwort" />
    </wsdl:operation>
    <wsdl:operation name="SaveLagerSet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveLagerSet" name="SaveLagerSetAnfrage" message="tns:SaveLagerSetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveLagerSetResponse" name="SaveLagerSetAntwort" message="tns:SaveLagerSetAntwort" />
    </wsdl:operation>
    <wsdl:operation name="SaveMaschinenartSet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveMaschinenartSet" name="SaveMaschinenartSetAnfrage" message="tns:SaveMaschinenartSetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveMaschinenartSetResponse" name="SaveMaschinenartSetAntwort" message="tns:SaveMaschinenartSetAntwort" />
    </wsdl:operation>
    <wsdl:operation name="SaveMaschinenkaufe">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveMaschinenkaufe" name="SaveMaschinenkaufeAnfrage" message="tns:SaveMaschinenkaufeAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveMaschinenkaufeResponse" name="SaveMaschinenkaufeAntwort" message="tns:SaveMaschinenkaufeAntwort" />
    </wsdl:operation>
    <wsdl:operation name="SaveVermitungenSet">
      <wsdl:input wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveVermitungenSet" name="SaveVermitungenSetAnfrage" message="tns:SaveVermitungenSetAnfrage" />
      <wsdl:output wsaw:Action="http://www.Baumaschinenmietservice.de/Services/IMietservice/SaveVermitungenSetResponse" name="SaveVermitungenSetAntwort" message="tns:SaveVermitungenSetAntwort" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>